<!-- Begin Find Way-->
<section id="find-way" class="find-way">    
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper text-left">
        <h3 class="animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.findWayTitle }}</h3>
        <div class="map-card location-details col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <ul>
                <li>
                    <svg class="icon icon-flag" viewBox="0 0 30 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-flag"></use>
                    </svg>
                    <span>{{ site.findWayDistance }}</span>
                    <span id="distance" class="detailed-result pull-right"></span>
                </li>
            </ul>
            <div class="clearfix"></div>
            <a href="http://maps.google.com/maps?ll={{ site.eventPlaceCoordinates | replace:' ',''}}&z=17&t=m&hl=en-US&gl=US&mapclient=embed&q={{ site.eventStreetAddress | replace:' ','%20' | replace:',','%2C'}}%2C%20{{ site.eventAddressLocality | replace:' ','%20' | replace:',','%2C'}}" class="view-on-map" target="_blank">{{ site.viewOnMap }}</a>
        </div>
    </div>
</section>
<!-- End Find Way -->